<footer>
    <a href="/organizations/search?filter=hotel"><img src="/images/hotel.png" alt=""></a> <!-- /search?filter=hotel -->
    <a href="/organizations/search?filter=monument"><img src="/images/monument.png" alt=""></a> <!-- /search?filter=monument -->
    <a href="/organizations/search?filter=market"><img src="/images/shop.png" alt=""></a> <!-- /search?filter=shop -->
</footer>