<footer>
  <a href="/organizations/search?filter=hotel"
    ><img src="/images/hotel.png" alt=""
  /></a>
  <a href="/organizations/search?filter=monument"
    ><img src="/images/monument.png" alt=""
  /></a>
  <a href="/organizations/search?filter=market"
    ><img src="/images/shop.png" alt=""
  /></a>
</footer>
