<header>
  <div>
    <a href="/"><img src="/images/logo.png" alt="" /></a>
    <!-- /logo.png -->
  </div>
  <div>
    <a href="/organizations/search"><img src="/images/search.png" alt="" /></a>

    <% if (user) { %>
    <a href="/users/logout"><img src="/images/user.png" alt="" /></a>
    <% } else { %>
    <a href="/users/login"><img src="/images/user.png" alt="" /></a>
    <% } %>

    <a href="/users/bookings"><img src="/images/bookings.png" alt="" /></a>
  </div>
</header>
