<% if (typeof errors != 'undefined'){ %>
	<% errors.forEach(error => { %>
		<span class="error">
			<%= error.message %>
		</span>
	<% }); %> 
<% } %>

<% if (success_message != '') { %>
	<span class="success">
		<%= success_message %>
	</span>
<%} %>

<% if (error_message != '') { %>
	<span class="error">
		<%= error_message %>
	</span>
<%} %>

<% if(error != ''){ %>
	<span class="error">
		<%= error %>
	</span>
<%} %>