<!-- <%- include('partials/navbar'); %> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 align-items-center" style="background-image: url('https://cdn.pixabay.com/photo/2016/10/18/09/02/hotel-1749602_1280.jpg');height: 700px;"></div>
        <div class='col-12 col-lg-6 align-items-center' style="background-image: url('https://cdn.pixabay.com/photo/2018/09/25/17/14/aircraft-3702676_1280.jpg');height: 700px;"></div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center"><button type="button" class="btn btn-dark">Book Hotels</button>
        </div> 
        <div class="col-12 col-lg-6 d-flex justify-content-center"><button type="button" class="btn btn-dark">Book Flights</button>
        </div>   
    </div>
</div>