<%- include('partials/header'); %>
<main>
	<h1>Sign Up</h1>
	<section class="authentication">
		<%- include('partials/messages'); %>
		<form action="/users/sign-up" method="POST">
			<div>
				<label for="name">Name</label>
				<input type="text" name="name"/>
			</div>
			<div>
				<label for="email">Email</label>
				<input type="email" name="email"/>
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" />
			</div>
			<div>
				<label for="password">Confirm</label>
				<input type="password" name="password2" />
			</div>
			<div>
				<button type="submit">Sign Up</button></a>
				<a href="/users/auth/google"><button type="button">Google</button></a>
				<a href="/users/login"><button type="button">Sign In</button></a>
			</div>
		</form>
	</section>
</main>
<footer>
	<a href="/"><img src="/images/home.png" alt="" /></a>
</footer>