body, header, div, img, main, section, article, h1, h2, h3, h4, h5, h6, p, button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

img {
  display: block;
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, input, label, select, button, a {
  font-family: "Public Sans", sans-serif;
  color: black;
  line-height: 1;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: white;
}
button:hover {
  cursor: pointer;
}

input, select, button {
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: white;
  scroll-behavior: contain;
}

header {
  width: inherit;
  top: 0;
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(64px);
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.25);
}
header div {
  display: block;
  display: flex;
  flex-flow: row nowrap;
}

main {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main section.organizations {
  width: inherit;
  display: grid;
  grid-auto-flow: row dense;
}
main section.organizations a.organization {
  width: inherit;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  transition: 250ms;
}
main section.organizations a.organization:hover, main section.organizations a.organization:focus {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}
main section.organizations a.organization img {
  border-radius: 16px 16px 0 0;
  width: inherit;
}
main section.organizations a.organization div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main section.organization {
  width: inherit;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
main section.organization div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main section.organization img {
  border-radius: 16px;
}
main section.ratings {
  width: inherit;
  display: grid;
  grid-auto-flow: row dense;
}
main section.ratings article {
  border-radius: 16px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}
main section.ratings article div {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main section.rate {
  width: inherit;
}
main section.rate form {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main section.rate form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
main section.rate form input, main section.rate form select, main section.rate form button {
  text-align: center;
  border-radius: 16px;
  border: 0;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  transition: 250ms;
}
main section.rate form input:hover, main section.rate form input:focus, main section.rate form select:hover, main section.rate form select:focus, main section.rate form button:hover, main section.rate form button:focus {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}
main section.search {
  width: inherit;
}
main section.search form {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main section.search form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
main section.search form input, main section.search form select, main section.search form button {
  text-align: center;
  border-radius: 16px;
  border: 0;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  transition: 250ms;
}
main section.search form input:hover, main section.search form input:focus, main section.search form select:hover, main section.search form select:focus, main section.search form button:hover, main section.search form button:focus {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}
main section.book {
  width: inherit;
}
main section.book form {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main section.book form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
main section.book form input, main section.book form select, main section.book form button {
  text-align: center;
  border-radius: 16px;
  border: 0;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  transition: 250ms;
}
main section.book form input:hover, main section.book form input:focus, main section.book form select:hover, main section.book form select:focus, main section.book form button:hover, main section.book form button:focus {
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}

footer {
  width: inherit;
  bottom: 0;
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(64px);
  box-shadow: 0px -4px 16px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 640px) {
  h1, h2, h3, h4, h5, h6, p {
    padding: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2, a, input {
    font-size: 16px;
  }

  h3, p, label, select, button {
    font-size: 12px;
  }

  input, select, button {
    margin: 8px;
  }

  input, label, select, button {
    padding: 8px;
  }

  header div img {
    height: 24px;
    margin: 16px;
  }

  main section.organizations {
    padding: 16px;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
  main section.organization {
    padding: 16px;
  }
  main section.organization div, main section.organization img {
    width: 100%;
  }
  main section.ratings {
    padding: 16px;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
  main section.rate {
    padding: 16px;
  }
  main section.rate form div input {
    width: 100%;
  }
  main section.search {
    padding: 16px;
  }
  main section.search form div input {
    width: 100%;
  }
  main section.book {
    padding: 16px;
  }

  footer {
    justify-content: space-between;
  }
  footer a img {
    width: 24px;
    height: 24px;
    margin: 16px;
  }
}
@media (min-width: 641px) and (max-width: 1280px) {
  h1, h2, h3, h4, h5, h6, p {
    padding: 24px;
  }

  h1 {
    font-size: 32px;
  }

  h2, a, input {
    font-size: 20px;
  }

  h3, p, label, select, button {
    font-size: 16px;
  }

  input, select, button {
    margin: 12px;
  }

  input, label, select, button {
    padding: 12px;
  }

  header div img {
    height: 32px;
    margin: 24px;
  }

  main section.organizations {
    padding: 24px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }
  main section.organization {
    padding: 24px;
  }
  main section.organization div, main section.organization img {
    width: 66.66%;
  }
  main section.ratings {
    padding: 24px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }
  main section.rate {
    padding: 24px;
  }
  main section.rate form div input {
    width: 66.66%;
  }
  main section.search {
    padding: 24px;
  }
  main section.search form div input {
    width: 66.66%;
  }
  main section.book {
    padding: 24px;
  }

  footer {
    justify-content: space-around;
  }
  footer a img {
    width: 32px;
    height: 32px;
    margin: 24px;
  }
}
@media (min-width: 1281px) {
  h1, h2, h3, h4, h5, h6, p {
    padding: 32px;
  }

  h1 {
    font-size: 40px;
  }

  h2, a, input {
    font-size: 24px;
  }

  h3, p, label, select, button {
    font-size: 20px;
  }

  input, select, button {
    margin: 16px;
  }

  input, label, select, button {
    padding: 16px;
  }

  header div img {
    height: 40px;
    margin: 32px;
  }

  main section.organizations {
    padding: 32px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;
  }
  main section.organization {
    padding: 32px;
  }
  main section.organization div, main section.organization img {
    width: 25%;
  }
  main section.ratings {
    padding: 32px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;
  }
  main section.rate {
    padding: 32px;
  }
  main section.rate form div input {
    width: 33.33%;
  }
  main section.search {
    padding: 32px;
  }
  main section.search form div input {
    width: 33.33%;
  }
  main section.book {
    padding: 32px;
  }

  footer {
    justify-content: center;
  }
  footer a img {
    width: 40px;
    height: 40px;
    margin: 32px;
  }
}

/*# sourceMappingURL=index.css.map */
